*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  color: #cbcbcb;
}
body {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  background: #fafafa;
  padding: 0;
  font-size: 22px;
  margin: 0;
}
iframe {
  width: 100%;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
}
a {
  text-decoration: none;
  color: #fff;
  transition: opacity 0.3s;	
}
a:hover {
  opacity: .8;
  transition: opacity 0.3s;	
}
header {
   text-align: center;
   height: 60px;
}
.container {
  max-width: 1200px;
 padding: 10px;
  margin: 0 auto; 
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.box {
  width: 33.33%;
}
.col {
  display: flex;
  padding: 0 10px;
}
.grid-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #dcdcdc;
  color:#303030;
 }
.grid-item:hover {
  cursor: pointer;
}
.grid-item img {
  width: 100%;
  object-fit: cover;
  max-height: 210px;
}
.grid-item-content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
	z-index: 2;
}

.date-title-home, .date-title, figcaption, footer, h3, h4, .wp-caption-text {
   font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.wp-caption-text {
    opacity: .8;
}

twitter-widget {
   margin-top: 100px;
    margin-bottom: 100px;
}

.date-title-home {
  font-size: 14px;
  color: #757575;
}
.date-title {
    color: #4a4a4a;
    font-size: 14px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 10px;
}
.content {
  max-width: 850px;
  margin: 0 auto;
  padding-bottom: 150px;
  float: left;
}
.content p {
  margin-left: 30px;
  margin-right: 30px;
  line-height: 28px;
  color: #fff;
}

.content img {   
   object-fit: cover;
   height: auto;
   float: left;
   margin-top: 50px;
   margin-bottom: 40px;
   max-width: 550px;
   margin-right: 50px;
}

.sidebar {
  float: right;
}
	
p img {
   margin-bottom: 30px;
}

h2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 8px;
  letter-spacing: -0.5px;
  font-size: 1.5rem;
  font-weight: 400;
}

h3, h4 {
    margin-left: 30px;
    font-size: 34px;
    font-weight: 400;
}

figcaption {
    color: #757575;
    font-size: 14px;
    margin-top: 60px;
   margin-bottom: 450px;
}

h1 {
    font-size: 68px;
    font-weight: 800;
    line-height: 68px;
    margin: 0 20px;
    color: #fff;
}

.box:nth-of-type(4), .box:nth-of-type(5), .box:nth-of-type(9), .box:nth-of-type(10), .box:nth-of-type(14), .box:nth-of-type(15), .box:nth-of-type(19) {
   width: 50%; 
}

@media all and (max-width: 800px) {
.box:nth-last-child(1n+0) {
   width: 100%;
}
.box {
   width: 100%;
}
.grid-item {
    margin-bottom: 0.5rem;
}
.footer-container {
  margin-top: 0;
}
 .container {
   padding: 0;	
}
 header {
    height: 70px;
}
}
	
.grid p, .grid table{display:none}
.grid p:nth-child(1) {
	display:block;
	margin:0;
}

.logo img {
	margin: 20px;
}


.box:nth-of-type(2) h2, .box:nth-of-type(4) h2, .box:nth-of-type(8) h2, .box:nth-of-type(9) h2, .box:nth-of-type(13) h2, .box:nth-of-type(14) h2 {
   font-family: Roboto,Helvetica,Arial,sans-serif;
    line-height: 28px;
    font-weight: 500;
}

@media only screen and (min-width: 64em) {
.box:nth-of-type(4) img, .box:nth-of-type(5) img {
    margin-bottom: -200px;
    max-height: 350px;
    filter: brightness(0.60);
	
}
	
 .box:nth-of-type(4) h2, .box:nth-of-type(5) h2 {
    color: #fff;
    font-size: 25px;
	 
}
.box:nth-of-type(4) .date-title-home, .box:nth-of-type(5) .date-title-home {
   color: #fff;
   opacity: .7;
}
}

.box:nth-of-type(1) img, .box:nth-of-type(2) img, .box:nth-of-type(3) img {
   display: none;
}
.box p {
	font-size: 0;
}

small {
  color: #9E9E9E;
    font-size: 15px;
}

footer {
  width: 100%;
  float: left;
}

.footer-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
	margin-bottom: 80px;
}

.footer-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0em 2em 0em;
  margin-top: 50px;
}

.footer-bottom {
   text-align: center;
	margin-bottom: 40px;
	margin-top: 20px;
}

section {
  margin: 1em 0;
}

ul {
  list-style-type: none;
}

article h5 {
    color: #9E9E9E;
    margin-left: 40px;
    font-size: 18px;
}

article ul {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.6);
}

article ul li {
  margin: .5em 0;
}

article a {
  font-size: 16px;
  color: #616161;
}

.item-page, .share-page {
   width: 270px;
    color: #BDBDBD;
}

@media all and (max-width: 1119px) {
.content {
   float: none;
}
 .sidebar {
   display: none;
}

}



	
